* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;

        li {
            margin-right: 40px;
        }
    }
}

.sectionone {
    display: flex;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    padding: 60px;
}

.cartoon-guy {
    height: 500px;
    width: auto;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    // text-wrap: wrap;
    width: 80%;
    font-size: 55px;
}

.img-beanie {
    display: block;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);

}

.icons {
    height: 72px;
    width: auto;
}

.para-beanie {
    margin: 0 16px 0 16px;

}

.projects {

    margin-bottom: 70px;
    margin-top: 30px;

}

.projects-title {
    text-align: center;
}

footer {
    background-color: black;
    height: 216px;

    p {
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    div {
        display: flex;
        justify-content: center;
        padding-top: 55px;

        img {

            height: 25px;
            width: auto;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
            padding: 8px;

        }
    }


}



// Any CSS want for mobile mode
@media only screen and (max-width: 390px) {
    .desktop-only {
        display: none;
    }
}

// Any CSS want for desktop mode
@media only screen and (min-width: 391px) {
    .mobile-only {
        display: none;
    }

    .about-me {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        justify-items: center;

    }


}